[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
click = "*"
configparser = "*"
requests = "*"
sync53 = {file = ".", editable = true}
boto3 = "*"

[requires]
python_version = "3"
